<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAqUamIqH1wL1s4KEH_CPs4YxQrOxJYsPU</string>
	<key>GCM_SENDER_ID</key>
	<string>554147541291</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sebastian-nunez.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-ios-84cf6</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-ios-84cf6.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:554147541291:ios:5150555c6c1a9cc022556e</string>
</dict>
</plist>